body {
  background: #90D5FF;
  color: #FFA500;
  padding: 25px;
  font-family: sans-serif;
}
.button {
  background-color: #0000FF;
  border: none;
  color: white;
  padding: 1px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
